$link-hover:#00aedb;
$link-vertical-margin: 0px 10px 0px 10px;      //Controls Menu top & bottom padding
$link-horizontal-margin:20px 0px 20px 0px;    //Contols Menu left & right padding
$link-vertical-padding: 0px 10px 0px 10px; 
$link-horizontal-padding:20px 0px 20px 0px;
$padding:3px;
$secondary-font: 'Slabo 27px', serif;
$secondary-color: black;
$border: 1px solid #888;
$transparent-white: rgba(255,255,255,0.8);
$button-shadow:5px 5px 5px #888888;
$error-color:red;
$white: white;
$black:#000;
$secondary-color: black;
$main-font:'Lato', sans-serif;
$secondary-font: 'Slabo 27px', serif;
$font-size:20px;